# .clang-format
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Inline
DerivePointerAlignment: false
PointerAlignment: Left
BreakBeforeBraces: Allman
SortIncludes: true
IncludeBlocks: Preserve
SpaceAfterCStyleCast: true
SpacesInAngles: false
AlwaysBreakTemplateDeclarations: Yes
AllowShortIfStatementsOnASingleLine: false
Cpp11BracedListStyle: true
Standard: Cpp20